
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Error 404</title>
    <meta content="" name="description">
    <meta content="" name="keywords">



    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    @Styles.Render("~/Content/css")

    <!-- Template Main CSS File -->
    <link href="~/Scripts/vendor/css/style.css" rel="stylesheet">


</head>

<body>

    <main>
        <div class="container">

            <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <h1>500</h1>
                <h2>Ah ocurrido un error, por favor contactese con los encargados del sistema.</h2>
                <a class="btn" href="@(ViewBag.sesionactiva!=null?@Url.Action("Paginainicio","UsuarioLogin"):@Url.Action("Login","UsuarioLogin"))">  @(ViewBag.sesionactiva != null ? "Regresar a inicio" : "Regresar a login")</a>
                <img src="~/Scripts/vendor/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
                <div class="credits">
               
                    Diseñado por DAAM S.A
                </div>
            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>

</html>