@model Monografia.Models.departamento

@{
    ViewBag.Title = "Eliminar departamento";
}
@Scripts.Render("~/bundles/jqueryval")
<div class="card">
    <div class="card-header">
        <h4>¿Está seguro de eliminar este departamento?</h4>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Descripción")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

        </dl>
    </div>
    <div class="card-footer text-center">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"> Guardar</i>
                </button>
        }
    </div>
</div>


