
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("impresionfactura", "Facturacion", FormMethod.Post))
{
    <div class="card">
        <div class="card-header">
            <h4>Impresion</h4>
        </div>
        <div class="card-body">
            <br>
            <iframe src="@ViewBag.archivo" title="testPdf"  width="100%"  height="100%">

            </iframe>
            <br>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-outline-info">
                <i class="fa fa-file-download">Descargar factura </i>
            </button>
        </div>
    </div>

}
